extends layout

block content
  
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 To-do List
        br
        form(action='/tasks', method='POST')
          .input-group.input-container
            input.form-control.add-todo(name="task", type='text', placeholder='Add task...', autofocus)
          .btn-container
            button#checkAll.btn.btn-primary Add Task
            button#checkAll.btn.btn-success Mark all as completed
        ul#sortable.list-unstyled.list-group.list-tasks
        each toDo in toDos
            li.list-group-item
              .content
                p #{toDo.task}
                form.edit-form(action=`/task/${task.id}`)
                  input.input-lg.hidden(name='title', value=toDo.task)
              .edition
                a.btn.btn-success.completed(href=`/task/${task.id}`)
                  i.glyphicon.glyphicon-ok
                a.btn.btn-primary.edit
                  i.glyphicon.glyphicon-pencil
                a.btn.btn-danger.remove(href=`/task/${task.id}`)
                  i.glyphicon.glyphicon-trash